@import url('https://fonts.googleapis.com/css?family=Passion+One');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');
@import "mixins";


$headersfont: 'Passion One', cursive;
$pfont: 'PT Sans Narrow', sans-serif;
$fontgroote:20px;
$basiskleur:#00739a;
$basiskleur2:#FFCE00;
$largescherm: 1200px;
$mediumscherm: 800px;
$smallscherm: 400px;





