
@import url('https://fonts.googleapis.com/css?family=Passion+One');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');


$headersfont: 'Passion One', cursive;
$pfont: 'PT Sans Narrow', sans-serif;
$fontgroote:20px;
$kleurgrijs: #C1C1B2;
$kleurgeel: #FFFF41;

h1,h2,h3,h4 {
  font-family: $headersfont;
  font-size: $fontgroote;
}
p {
  font-family: $pfont;

}


#headafb {
  max-width: 100%;
  margin: auto;
}

footer {
  text-align: center;
  color: white;
  height: 35px;

}
nav a {
  list-style-type: none;
  text-decoration: none;



  &:hover {
    text-decoration: underline;

    color: yellow;
  }

  &:active {
    color: $kleurgeel;
    background-color: inherit;
  }
}

