
@import url('https://fonts.googleapis.com/css?family=Passion+One');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');


$headersfont: 'Passion One', cursive;
$pfont: 'PT Sans Narrow', sans-serif;
$fontgroote:20px;

h1,h2,h3,h4 {
  font-family: $headersfont;
  font-size: $fontgroote;
}
p {
  font-family: $pfont;
}

#ondernav {
  background: linear-gradient(135deg, #708090 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
  linear-gradient(225deg, #708090 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
  background-color:#708090;
  background-size: 64px 128px;
  text-align: center;
  margin-top: 0px;
  columns: $kleurgeel;
}
#ondernav h2 {
  padding-bottom: 20px;
}

footer {
  text-align: center;
  background-color: $kleurgrijs;
  color: black;
}

nav a {
  list-style-type: none;
  text-decoration: none;


  &:hover {
    text-decoration: underline;
    color: desaturate(black, 50%);
  }

  &:active {
    color: $kleurgeel;
    background-color: inherit;
  }
}
