@mixin opmaak($kleur,$grootte) {
  color: black;
  background-color: $basiskleur;
  font-size: $fontgroote;
  line-height: $fontgroote *1.5;
  margin: $fontgroote;
  padding: $fontgroote;
}

@mixin opmaakkolompagina3() {
  color: white;
  background-color: $basiskleur2;
  font-size: $fontgroote;
  margin: 2px;
  padding: 2px;
}

@mixin opmaakaccordeonpagina4() {
  background-color: $basiskleur2;
  color: white;
  margin-top: 20px;

}
