@mixin opmaak($kleur,$grootte) {
  color: black;
  background-color: $basiskleur;
  font-size: $fontgroote;
  line-height: $fontgroote *1.5;
  margin: $fontgroote;
  padding: $fontgroote;
}

@mixin opmaakkolompagina3() {
  color: white;
  background-color: $basiskleur2;
  font-size: $fontgroote;
  margin-bottom: 40px;
}

@mixin opmaakaccordeonpagina4() {
  background-color: $basiskleur2;
  color: white;
  margin-top: 20px;

}


@mixin pagina3tekst {
  font-size: 16px;
  font-family: $pfont;
}

@mixin opmaakcardspagina2() {
  background-color: $basiskleur2;
  color: $basiskleur;
  border: 5px solid $basiskleur2;
  margin: 5px;
}

@mixin paddingcardspagina3() {
  padding-bottom: 10px;
}

@mixin titelspagina4() {
  margin-top: 25px;
}
