@import "mixins";
@import "huisstijl";

.pagina3kolom {
  @include opmaakkolompagina3;
}

.knop {
  background-color: $basiskleur;
  color: white;
}

.card-body {
  background-color: $basiskleur2;
  color: $basiskleur;
  border: none;
}

.pagina4accordeon {
  @include opmaakaccordeonpagina4;
}

.pagina3tekst {
  @include pagina3tekst;
}