@import "mixins";
@import "huisstijl";


.cardsconsoles {
  @include opmaakcardspagina2;
}

figure {
  padding-bottom: 0px;
  margin-bottom: 1px;

}
.figure-caption {
  color: $basiskleur;
  font-size: 20px;
  font-weight: bold;
}

.imggrootte {
  max-width: 100%;
  height: 250px;
}
#P2jens {
  width: 200px;
  height: 200px;
  margin: 50px;
  margin-right: 100px;
  padding:10px;
}

#P1jens {
  width: 200px;
  height: 200px;
  margin: 50px;
  margin-left: 0px;
  padding:10px;

}

.afbeelding2pjens {
  background-color: white;
  color: black;
  border: 5px solid $basiskleur2;
  border-radius: 0%;
  transform: skewX(20deg) skewY(-30deg) scale(0.70);
  }


.afbeelding1pjens {
  background-color: white;
  color: black;
  border: 5px solid $basiskleur2;
  border-radius: 0%;
  transform: skewX(-20deg) skewY(30deg)   scale(0.70);

}

#transafb {
  border-radius: 15%;
  box-shadow: 0px 5px 5px 0px grey;
  background-color: $basiskleur;
  color: $basiskleur;
  transition: 1.5s ease-in-out;
  margin-right: 5px;
  &:hover {
    border-radius: 50%;
    background-color: inherit;
    transform: rotate(360deg);
    box-shadow: 0px 0px 0px 5px $basiskleur2;
    width: 50px;
    height: 50px;

  }
}


#tabs ul li {


  &:active {
    color:$basiskleur2;
    background-color: inherit;

  }
  &:hover {
    color: $basiskleur2;
  }

}


#animatie {
  background-color: inherit;
  background-repeat: repeat-x;
  animation-name: verkleuring;
  animation-duration: 5s ;
  overflow: hidden;
  font-size: 25px;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  @keyframes verkleuring {
    0% {color: $basiskleur;
      transform: translateX(0%);}
    25% {
      color: yellowgreen;
      transform: translateX(25%);}
    50% {
     color:  greenyellow;
      transform: translateX(50%);}
    75% {
      color: lightgoldenrodyellow;
      transform: translateX(75%);}
    100% {color:$basiskleur2;
      transform: translateX(100%);}



  }

  }
  .geheel {
    animation-name: glijden;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-direction: alternate;
  }
