@import "mixins";
@import "huisstijl";

.pagina3kolom {
  @include opmaakkolompagina3;
}

.knop {
  background-color: $basiskleur;
  color: white;
}

.card-body {
  background-color: $basiskleur2;
  color: $basiskleur;
  border: none;
}

.pagina4accordeon {
  @include opmaakaccordeonpagina4;
}

.pagina3tekst {
  @include pagina3tekst;
}

.gameboy {
  background-image: url(../Afbeeldingen/AnimatieGameboyRobin.jpg);
  background-repeat: no-repeat;
}

.landschap {
  background-image: url(../Afbeeldingen/AchtergrondAnimatieRobin.png);
  background-repeat: repeat-x;
  height: 150px;
  width: 175px;
}

@keyframes beweeg {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}

.bewegend {
  animation-name: beweeg;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.transistionrobin {
  display: inline-block;
  transition: color 1s linear, transform 1s ease-in 1s;

  &:hover {
  transform: scale(0.5) rotate(180deg) skewX(50deg);
}
}

.paddingpagina3 {
  @include paddingcardspagina3;
}

.footerpagina4 {
  position: absolute;
  bottom: 0;
}



