@import "mixins";
@import "huisstijl";

.pagina3kolom {
  @include opmaakkolompagina3;
}

.knop {
  background-color: $basiskleur;
  color: white;
}

.card-body {
  background-color: $basiskleur2;
  color: $basiskleur;
  border: none;
}

.pagina4accordeon {
  @include opmaakaccordeonpagina4;
}

.pagina3tekst {
  @include pagina3tekst;
}

.landschap {
  background-image: url(/public_html/Afbeeldingen/AchtergrondAnimatieRobin.png);
  height: 150px;
  width: 175px;
}

.transistionrobin {
  display: inline-block;
  transition: color 1s linear, transform 2s ease-in 1s;

  &:hover {
  transform: scale(0.5) rotate(180deg) skewX(50deg);
}
}




