// Override Bs4 variables and custom mixins
@import "huisstijl";
@import "mixins";


// Link to BS4
@import "../node_modules/bootstrap/scss/bootstrap";

// Custom code/partials
@import "basisopmaak";

@import "specifiekjens";
@import "specifiekrobin";

nav {
  color: white;
  background-color: $basiskleur;
  margin-bottom: 0px;


  a {
    list-style-type: none;

    color: white;
    background-color: $basiskleur;

    &:hover {
      text-decoration: underline;

      color: $basiskleur2;
      background-color: inherit;
    }

    &:active {
      text-decoration: underline;
      color:invert($basiskleur2,100%);
      background-color: $basiskleur;
    }

    &:focus {

      color: $basiskleur2;
      background-color: inherit;
    }
  }
}


#container {
  width: auto;
  margin: 30px;

  border: 3px solid grey;
  text-align: center;
}



@media screen and (min-width: $smallscherm) {


  #container {
    @include opmaak(grey,18px);
  }
  text-align: center;

}

@media screen and (min-width:$mediumscherm) {
  @include opmaak(yellow,24px);
}

@media screen and (min-width:$largescherm) {
  @include opmaak(green,24px);
  #container {
    display: flex;
    flex-direction: row;
    text-align: center;
  }


}


#nr2 {
  margin: 20px;
  border-radius: 5px 5px 5px 5px ;

}


#nr1 {
  margin: 20px;
  border-radius: 5px 5px 5px 5px ;

}